name: Lint Check

on:
  push:
    branches:
      - 'master'
      - master
      - main
  pull_request:
    branches:
      - 'master'
      - master
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: cclauss/Find-Python-syntax-errors-action@master
