name: Unit Tests

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  unit_tests:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Setup Hadoop for Windows
        run: |
          mkdir C:\hadoop\bin -Force
          Invoke-WebRequest -Uri "https://github.com/steveloughran/winutils/raw/master/hadoop-3.0.0/bin/winutils.exe" -OutFile "C:\hadoop\bin\winutils.exe"
          Invoke-WebRequest -Uri "https://github.com/steveloughran/winutils/raw/master/hadoop-3.0.0/bin/hadoop.dll" -OutFile "C:\hadoop\bin\hadoop.dll"
          echo "HADOOP_HOME=C:\hadoop" >> $env:GITHUB_ENV
          echo "C:\hadoop\bin" >> $env:GITHUB_PATH
          mkdir C:\tmp\hive -Force
          icacls C:\hadoop /grant Everyone:F /T
          icacls C:\tmp /grant Everyone:F /T
        shell: pwsh
      - name: Install custom packages
        run: |
          python -m pip install --upgrade pip
          pip install -r custom_packages.txt
      - name: Install requirements
        run: |
          pip install -r requirements.txt
      - name: Set Spark environment variables
        run: |
          echo "SPARK_LOCAL_IP=127.0.0.1" >> $env:GITHUB_ENV
        shell: pwsh
      - name: Run unit tests
        run: |
          ./run_unit_test.bat
